.section-pre-product {
    background-color: var(--color-backgroud-green);
}

.cover {
    background-image: url("../images/banner.jpg");
}

.product-blog {
    height: 100%;
}

.cover-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.rigth {}

.rigth img {
    height: 70vh;
    object-fit: cover;
}

#products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 10vh;
}

.productItem {
    position: relative;
}

#products .productItem img {
    height: 50vh;
    transition: 0.3s all ease-in-out;
    object-fit: cover;
}

#products .productItem img:hover {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

.bestSeller {
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 2rem;
    z-index: 1;
}

.productItemName {
    font-size: 1.25rem;
    font-weight: bold;
}

.productItemDes {
    color: var(--color-text-gray);
    font-size: 0.8rem;
}

@media only screen and (max-width: 1024) {}

@media only screen and (max-width: 820px) {
    .cover-product {
        display: block;
    }

    .cover-product .rigth {
        padding: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .cover-product .rigth img {
        display:none;
        width: 80%;
        height: auto;
    }

    #products {
        grid-template-columns: repeat(2, 1fr);
    }

    #products .productItem img {
        width: 100%;
        height: auto;
    }

    .bestSeller {
        top: 5vh;
    }


}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 480px) {
    #products {
        padding: 1rem;
    }
    .bestSeller {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
    }
    .btn .btn-banner-store {
        padding: 0;
    }
    .cover-product .left {
        padding: 1rem;
    }
}

@media only screen and (max-width: 320px) {}